<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyBrary - Add a book</title>

    <style>
        body {
            background-color: #000000;
            color: white;
        }

        #container {
            background-color: #1C1C1C;
            width: 30vw;
            height: 70vh;
            border-radius: 10px;
            margin-top: 10vh;
        }

        input {
            width: 20vw;
            margin-top: 2vh;
            height: 6vh;
            outline: none;
        }

        form button {
            background-color: #69BB5B;
            border-radius: 5px;
            border: 0px;
            outline: none;
            font-size: 20px;
            color: white;
            padding: 10px 50px 10px 50px;
            margin-top: 5vh;
            cursor: pointer;
        }

        form button:hover {
            border: 1px solid white;
        }

        #coverInput {
            margin-top: -1vh;
        }

        form a {
            text-decoration: none;
            color: white;
        }

        form a:hover {
            padding-bottom: 2px;
            border-bottom: 1px solid white;
        }

        form p {
            margin-left: -8vw;
        }

        header a {
            font-size: 20px;
            color: white;
            text-decoration: none;
        }

        header a:hover {
            padding-bottom: 2px;
            border-bottom: 1px solid white;
        }
    </style>

</head>
<body>
    <header>
        <a href="/">Go back</a>
    </header>

    <center>
        <div id="container">
            <form method="POST">
                <br>
                <h1>Add a book</h1>
                <input id="titleInput" type="text" name="title" placeholder="Title">
                <br>
                <input type="text" name="author" placeholder="Author">
                <br>
                <input type="text" name="year" placeholder="Year">
                <br>
                <p>Use <a target="_blank" href="https://imgur.com/upload">imgur</a> to upload the cover.</p>
                <input id="coverInput" type="text" name="cover" placeholder="Cover URL">
                <br>
                <button type="submit">ADD</button>
            </form>
        </div>
    </center>

</body>
</html>